
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;500;700&family=Space+Mono:wght@400;700&display=swap');

body {
    background-color: rgb(8, 8, 8);
    color: white;
    font-family: 'Sora', sans-serif;
    font-weight: 200;
    /* cursor: url('../images/cursor.svg'), auto; */
    cursor:none;
}

.cursor {
  width: 20px;
  height: 20px;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  animation: cursorAnimation 0.5s infinite alternate;
  pointer-events: none;
  display:none;
}

.cursor::after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  border: 10px solid grey;
  border-radius: 50%;
  opacity: 0.5;
  top:-12px;
  left:-12px;
  animation:cursorAnimation2 .5s infinite alternate;
}


@keyframes cursorAnimation {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7);
  } 
}

@keyframes cursorAnimation2 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.4);
  }
}


.expand {
  animation:cursorAnimation3 .4s forwards;
  border: 2px solid rgb(159, 159, 253);
}

@keyframes cursorAnimation3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    opacity:0;
  }
}

.skip {
    font-size: 14px;
    position: relative;
    right: 500px;
}

#main {
  margin: 1%;
  padding: 1%;
}

h1{
	font-size: 30px; 
	font-weight: 700;
}


h2{
	font-size: 20px; 
	font-weight: 700;
}

h3 {
    font-size: 18px; 
    font-weight: 500;
}

/* nav{
    margin-bottom: 20px;
} */

#logo {
  padding: 15px;
  border: none;
  margin: 0;
  animation: heartbeat .5s infinite alternate;
}

@keyframes heartbeat{
	from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7);
  } 
}

#main_heading {
  display: flex;
  align-items: center;
}

.navbar {
  background-color: #292929;
  color: white;
  padding: 0px;
}


li.nav-item {
    /* display: block; */
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 14px;
  }

  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .custom-toggler.navbar-toggler {
    border-color: rgb(255, 255, 255);
  } 

a.nav-link {

  color: #ffffff;
}
  
nav li a:hover:not(.active) {
    background-color: #111;
}
  
.active {
    background-color: rgb(79, 79, 194);
    border: 2px solid #ffffff ;
} 

.grid_gallery {
  display: grid;
  grid-template-columns: 0.25fr 7fr 7fr 0.25fr;
  align-items: stretch;
  box-sizing: border-box;
  grid-auto-rows: 150px;
  grid-gap: 5px 5px;
  padding-bottom: 20px;
}

.grid_gallery img {
  padding: 0;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
}

#img_1, #img_3, #img_6, #img_8 {
  grid-column: 2/ span 1;
}

#img_2, #img_4, #img_7, #img_9 {
  grid-column: 3/ span 1;
}

#img_5 {
  grid-column: 2/ span 2;
  grid-row: span 2;
}


p, h1, h2, h3 {
    padding: 20px;
}

p {
    font-size: 14px;
    line-height: 150%;;
}

.col-sm-6 {
  display: flex;
}

img:hover {
 filter: sepia(70%);
}

.banner {
 background-color: #cccccc;
 background-size: cover;
 height: 300px;

 margin: 0;
 padding:0;
}

#home_banner {
  animation: animatedBanner 4s linear infinite;
}

#snow_white_banner {
  background-image: url("../images/snow_white.jpeg");

  background-color: #cccccc;
 height: 300px;
 background-size: cover;

 margin: 0;
 padding:0;
  display: flex;
}

#overlay_text {
  background-color: rgba(8, 8, 8, 0.5);
  align-self: flex-end;
  padding: 10px 20px 10px 20px;
}

@keyframes animatedBanner {
  0% {
    background-image: url("../images/Disney_Banner_2.png");
  }
  30% {
    background-image: url("../images/moana_banner.jpeg");
  }
  60%{
    background-image: url("../images/Mulan_banner.png");
  }
  100% {
    background-image: url("../images/encanto_banner.jpeg");
  }
}


#page_banner_moana {
  background-image: url("../images/moana_banner.jpeg");

}

#page_banner_mulan {
  background-image: url("../images/Mulan_banner.png");
}

#page_banner_encanto {
  background-image: url("../images/encanto_banner.jpeg");

}


@keyframes banneranimation {
    from {width: 50%; filter: brightness(50%);}
    to {width: 95%; filter: brightness(100%);}
    
}

li a {
    color: rgb(159, 159, 253);
    font-size: 14px;
}

/*Flip Card Styling*/


.encanto_gallery_container .box {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 20px;
}

.encanto_gallery_container .box .body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.9s ease;
}

.encanto_gallery_container .box .body .encanto_image_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.encanto_gallery_container .box .body .encanto_image_container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.encanto_gallery_container .box .body .encanto_flip_content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

.encanto_gallery_container .box:hover .body{
    transform: rotateY(180deg);
}

.box:focus .body{
  transform: rotateY(180deg);
}

.encanto_gallery_container .box .body .encanto_flip_content div {
    transform-style: preserve-3d;
    padding: 10px;
    background: rgb(79, 79, 194);
    transform: translateZ(50px)
}

.encanto_gallery_container .box .body .encanto_flip_content div h3 {
    letter-spacing: 1px
}

/*Flip Card Styling End */

/* Styling for Footer */

footer {
padding: 20px;
background-color: rgb(79, 79, 194);
color: white;
text-align: center;
}

#social_container {
  display: flex;
  justify-content: center;
}

#social_container a {
  color: #ffffff;
  padding: 10px 20px 10px 20px;
}

#social_container a i {
  padding-right: 5px;
}

/* Styling for contact form */

input[type=text], input[type=email], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: 'Sora', sans-serif;
}

#contactHeading, label{
  color: rgb(8, 8, 8);
  padding-left: 0;
  margin: 5px;
}

.contactContainer p {
  color: rgb(8, 8, 8);
  padding: 0;
}

#checkbox {
  margin: 5px;
}

input[type=submit] {
  background-color: rgb(79, 79, 194);
  color: #ffffff;
  padding: 20px 30px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
}

input[type=submit]:hover {
  background-color: rgb(8, 8, 8);
  color: #ffffff;
}

.contactContainer {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 10px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-weight: 200;
}

::-moz-placeholder  { /* Firefox */
  font-weight: 200;
}

/* Styling for contact form ends here */

/* Card Styling */

.card-body {
  background-color: rgb(79, 79, 194);
}

.card-body p, .card-body h3 {
  padding: 0;
}

.card {
  margin: 20px;
}


/* Card Styling ends here */

/* Cursor styling */




/* Cursor styling ends here*/

@media screen and (min-width: 768px) {
  a.skip {
    -moz-transition: top 1s ease-out;
      position: absolute;
      top: -40px;
  }

  a.skip {
    background: white;
    color:#111;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }
  
  a.skip:focus {
    top: 0px;
  }

  .banner {
          /* Set a specific height */
          min-height: 500px; 

          /* Create the parallax scrolling effect */
          background-attachment: fixed;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
  }

 
  #snow_white_banner {
    width:60%;
   margin: 0 auto;

  }

  p {
    font-size: 16px;
  }

  h3 {
    font-size: 24px;
  }

  h2 {
    font-size: 28px;
  }

  h1 {
    font-size: 32px;
  }

  #img_1, #img_3, #img_6, #img_8 {
    grid-column: 2/ span 1;
    grid-row: span 2;
  }
  
  #img_2, #img_4, #img_7, #img_9 {
    grid-column: 3/ span 1;
    grid-row: span 2;
  }
  
  #img_5 {
    grid-column: 2/ span 2;
    grid-row: span 4;
  }

  .flex_gallery{
    height: 600px; 
  }
  
  .encanto_img{
    height: 50%;  
  }
  
  .img-1,
  .img-4 {
    width: 24%;
  }
  .img-2,
  .img-3 {
    width: 70%;
  }

  .img-1 {
    width: 100%;
  }

  #contactHeading, label, input[type=submit], #checkbox{
    margin: 10px;
    }

}

@media only screen and (min-width: 1024px) {

  .cursor {
    display: block;
  }

  a.skip {
    -moz-transition: top 1s ease-out;
      position: absolute;
      top: -40px;
  }

  
  a.skip:focus {
    top: 0px;
  }

  .banner {

          /* Set a specific height */
          min-height: 500px; 

          /* Create the parallax scrolling effect */
          background-attachment: fixed;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
  }

  .encanto_gallery_container .box {
    position: relative;
}

  #contactHeading, label, input[type=submit], #checkbox{
  margin: 10px;
  }

  /* .card {
    width: 60rem;
    margin:0 auto;
  } */
}


@media screen and (prefers-reduced-motion: reduce) { 

}